/* Var */
/* Colors */
/* Size */
/* Var */
/* Colors */
/* Size */
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* line 4, D:/Dropbox/back up/git/style/partials/_base.scss */
body {
  background-color: #EDF1F4;
  color: #212121;
  font-family: 'Roboto', sans-serif !important; }

/* line 316, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.left-panel {
  min-width: 190px;
  flex-basis: 190px;
  background-color: #607D8B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.24); }
  /* line 321, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .left-panel .head-logo:after {
    background: none;
    height: 0px; }
  /* line 326, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .left-panel .head-logo {
    height: 100px;
    padding: 18px 0 20px 0; }
  /* line 331, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .left-panel a {
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: 500; }
  /* line 338, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .left-panel .handle {
    background: #FFFFFF !important;
    height: 40px;
    width: 12px;
    margin: -125px 5px 0px 0px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    /* line 344, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .handle span {
      margin: 12px 0 0px 3px !important;
      color: red !important; }
  /* line 349, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .left-panel .menu {
    margin-top: 20px;
    max-height: 78%;
    padding: 0 10px 10px 10px;
    overflow-y: scroll; }
    /* line 355, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu img {
      width: 20px; }
    /* line 358, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu i {
      font-size: 20px !important; }
    /* line 363, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .fa-angle-right {
      font-size: 15px !important;
      padding: 0px 15px 0px 6px;
      margin: 5px 0 0 0 !important;
      animation: open-menu-span 0.6s ease-out; }
    /* line 370, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .fa-angle-down {
      font-size: 15px !important;
      padding: 0px 19px 0px 6px;
      margin: 5px 0 0 0 !important;
      animation: open-menu-span 0.6s ease-out; }
    /* line 377, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu li {
      background: #607D8B !important; }
      /* line 380, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li :hover {
        box-shadow: -1px 0px 0 0px #56707d;
        background: #607D8B !important; }
      /* line 384, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li .first-level {
        padding: 8px 0 9px 10px;
        overflow: hidden;
        white-space: nowrap; }
      /* line 389, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li .first-level:hover {
        background: #78909c !important; }
      /* line 392, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li span {
        margin: 2px 0 0 5px; }
      /* line 398, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li ul li a {
        padding: 7px 0 7px 40px; }
      /* line 403, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li ul,
      .left-panel .menu li ul li,
      .left-panel .menu li ul li a {
        border: none;
        background: #78909c !important;
        font-size: 12px;
        font-weight: 500; }
      /* line 410, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li ul li {
        width: 100%; }
      /* line 417, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .left-panel .menu li i:hover {
        background: #78909c !important; }
    /* line 421, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .active .first-level {
      border-radius: 0%;
      background: #607D8B !important;
      border-left: 1px solid #FF9800; }
    /* line 429, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .active .open {
      border: none;
      background: #90a4ae !important;
      border-left: none; }
    /* line 436, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .active .active a {
      box-shadow: inset 1px 1px 4px 0px #455A64;
      border-radius: 0%;
      background: #607D8B !important;
      border-left: 1px solid #FF9800; }
    /* line 445, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .left-panel .menu .open {
      border-bottom: 1px solid #56707d;
      background: #90a4ae !important; }

/* line 453, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.closed-panel .work-area {
  max-width: calc(100% - 50px); }

/* line 459, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.closed-panel .left-panel {
  flex-basis: 60px;
  min-width: 60px; }
  /* line 462, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .closed-panel .left-panel .head-logo {
    height: 100px;
    padding: 18px 0 5px 0; }
    /* line 465, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .head-logo :after {
      background: none; }
    /* line 471, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .head-logo img {
      margin: 0px auto 15px; }
  /* line 475, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .closed-panel .left-panel .menu {
    overflow: visible;
    padding: 0px 7px 0px 7px; }
    /* line 480, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .menu li :hover {
      border-bottom: none; }
    /* line 485, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .menu li .active,
    .closed-panel .left-panel .menu li .active .first-level,
    .closed-panel .left-panel .menu li .open {
      border-bottom: none; }
    /* line 489, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .menu li span {
      width: 0px !important; }
    /* line 493, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .menu li a {
      padding: 10px 0px 10px 0px; }
    /* line 496, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .closed-panel .left-panel .menu li ul li a {
      padding-left: 0px; }

/* line 502, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.menu::-webkit-scrollbar {
  width: 8px !important;
  border-bottom: 2px solid #607D8B; }

/* line 506, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.menu::-webkit-scrollbar-thumb {
  background-color: #607D8B; }

/* line 511, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.menu:hover::-webkit-scrollbar-thumb {
  background-color: #78909c; }

/* line 519, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.logout-panel {
  width: 190px;
  height: 30px;
  margin: 0px 20px 0 0px;
  background: white;
  display: none; }

/* line 526, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.item-log-panel {
  margin: -10px 0 0 0;
  font-size: 10px; }

/* line 530, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.item-log-panel i {
  margin: 10px 0 0 0;
  font-size: 15px !important; }

/* line 534, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.item-log-panel .fa-power-off {
  margin: 6px 0 0 0; }

/* line 11, D:/Dropbox/back up/git/style/partials/_base.scss */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

/* line 17, D:/Dropbox/back up/git/style/partials/_base.scss */
.panel.block,
.row {
  margin-left: 0px;
  margin-right: 0px;
  border: none; }

/* line 22, D:/Dropbox/back up/git/style/partials/_base.scss */
.work-area {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 17px;
  max-width: calc(100% - 210px);
  padding-bottom: 0px;
  padding-top: 10px; }
  /* line 30, D:/Dropbox/back up/git/style/partials/_base.scss */
  .work-area td {
    border: none !important;
    font-size: 11px !important; }
  /* line 34, D:/Dropbox/back up/git/style/partials/_base.scss */
  .work-area tr:hover {
    background: #EDF1F4;
    color: #455A64 !important; }

/* line 39, D:/Dropbox/back up/git/style/partials/_base.scss */
.panel {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px !important; }

/* line 43, D:/Dropbox/back up/git/style/partials/_base.scss */
.panel-heading {
  background: #FFFFFF !important; }

/* line 46, D:/Dropbox/back up/git/style/partials/_base.scss */
.page-foot {
  display: none; }

@keyframes open-menu-span {
  0% {
    position: absolute; }
  100% {
    float: right !important; } }

/* line 9, D:/Dropbox/back up/git/style/style.scss */
.page-panel-inventories .panel-heading {
  padding-bottom: 12px;
  /*  SEARCH field  */
  /*  SELECT field  */ }
  /* line 15, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .col-lg-7,
  .page-panel-inventories .panel-heading .col-lg-8,
  .page-panel-inventories .panel-heading .col-lg-9,
  .page-panel-inventories .panel-heading .col-lg-10,
  .page-panel-inventories .panel-heading .col-lg-11 {
    padding-right: 0px !important; }
  /* line 22, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .col-lg-1,
  .page-panel-inventories .panel-heading .col-lg-2,
  .page-panel-inventories .panel-heading .col-lg-3,
  .page-panel-inventories .panel-heading .col-lg-4,
  .page-panel-inventories .panel-heading .col-lg-5 {
    padding-left: 0px !important;
    padding-right: 3px !important; }
  /* line 28, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .col-md-12,
  .page-panel-inventories .panel-heading .col-sm-12,
  .page-panel-inventories .panel-heading .col-xs-12 {
    padding-left: 5px !important; }
  /* line 286, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-inventories .panel-heading .panel-heading {
    border-radius: 3px !important; }
  /* line 288, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-inventories .panel-heading .page-title h1 {
    color: #727272 !important;
    margin: 10px 0 0px 40px !important;
    font-weight: 100 !important;
    font-size: 18px; }
  /* line 32, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading form {
    margin-bottom: 0px; }
  /* line 36, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .form-group {
    margin: 25px 0 0px 0; }
  /* line 40, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .form-group a,
  .page-panel-inventories .panel-heading .form-group input {
    border-bottom: 1px solid #FF9800;
    border-radius: 0; }
  /* line 44, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .form-group .form-control {
    width: 130px;
    margin-left: 20px;
    font-size: 13px; }
  /* line 49, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .form-group select {
    font-size: 13px; }
  /* line 52, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .form-group input:focus {
    border-bottom: 1px solid #FF9800; }
  /* line 48, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-inventories .panel-heading .form-group input:focus ~ H4 {
    margin: -40px 0 0 20px;
    font-size: 10px;
    color: #FF9800;
    transition-duration: .4s; }
  /* line 54, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-inventories .panel-heading H4 {
    /* - placeholder ----*/
    position: absolute;
    display: block;
    color: transparent;
    margin: -27px 0 0 15px;
    font-size: 10px; }
  /* line 58, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .dropdown-toggle {
    margin: 33px 15px 0 0px !important; }
  /* line 62, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .dropdown-toggle:active {
    background: transparent !important; }
  /* line 65, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .btn-success {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 13px;
    margin: 0 5px 0 0;
    color: #56707d !important;
    margin-left: 5px;
    border-radius: 3px;
    margin-top: 30px; }
    /* line 98, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-success i,
    .page-panel-inventories .panel-heading .btn-success span {
      font-size: 16px;
      margin: 0 0px 0 0;
      color: #56707d !important; }
    /* line 106, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-success:hover {
      background: transparent;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 3px; }
      /* line 110, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .page-panel-inventories .panel-heading .btn-success:hover i {
        cursor: pointer !important;
        color: #FF9800;
        background: transparent;
        transition: .4s; }
    /* line 117, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-success:active {
      box-shadow: inset -1px 1px 4px 0px #B6B6B6;
      background: #e7e7e7;
      border-radius: 3px; }
      /* line 121, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .page-panel-inventories .panel-heading .btn-success:active i {
        cursor: pointer !important;
        color: #FF9800;
        background: transparent;
        transition: .4s; }
    /* line 69, D:/Dropbox/back up/git/style/style.scss */
    .page-panel-inventories .panel-heading .btn-success:hover i,
    .page-panel-inventories .panel-heading .btn-success:active i {
      color: #FF9800 !important; }
  /* line 74, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .btn-primary {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 13px;
    margin: 0 5px 0 0;
    color: #56707d !important;
    margin-left: 5px;
    border-radius: 3px;
    margin: 33px 3px 0 0; }
    /* line 98, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-primary i,
    .page-panel-inventories .panel-heading .btn-primary span {
      font-size: 16px;
      margin: 0 0px 0 0;
      color: #56707d !important; }
    /* line 106, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-primary:hover {
      background: transparent;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 3px; }
      /* line 110, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .page-panel-inventories .panel-heading .btn-primary:hover i {
        cursor: pointer !important;
        color: #FF9800;
        background: transparent;
        transition: .4s; }
    /* line 117, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-primary:active {
      box-shadow: inset -1px 1px 4px 0px #B6B6B6;
      background: #e7e7e7;
      border-radius: 3px; }
      /* line 121, D:/Dropbox/back up/git/style/partials/_mixins.scss */
      .page-panel-inventories .panel-heading .btn-primary:active i {
        cursor: pointer !important;
        color: #FF9800;
        background: transparent;
        transition: .4s; }
  /* line 78, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-inventories .panel-heading .btn-header-main {
    /* - added class ----*/
    background: #FF9800 !important;
    border: none;
    margin: 0 5px 0 0;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 13px;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-transform: none;
    border-radius: 3px !important;
    margin-top: 33px;
    height: 24px;
    font-size: 16px;
    padding: 5px; }
    /* line 154, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-header-main i,
    .page-panel-inventories .panel-heading .btn-header-main span {
      font-size: 16px;
      margin: 0 0px 0 0;
      padding: 0 3px 0 3px;
      color: #FFFFFF !important; }
    /* line 160, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-header-main:hover {
      background: #FF9800 !important;
      cursor: pointer !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: .4s;
      opacity: 0.9;
      color: #FFFFFF !important; }
    /* line 170, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-panel-inventories .panel-heading .btn-header-main:active {
      box-shadow: inset -1px 1px 4px 0px #B6B6B6;
      transition: .4s;
      color: #FFFFFF;
      opacity: 0.8; }
    /* line 84, D:/Dropbox/back up/git/style/style.scss */
    .page-panel-inventories .panel-heading .btn-header-main .fa-caret-down {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: -5px; }

/* line 94, D:/Dropbox/back up/git/style/style.scss */
.page-panel-inventories .panel-footer .pagination .active a {
  background: #56707d !important; }

/* line 99, D:/Dropbox/back up/git/style/style.scss */
.page-products-edit {
  min-width: 390px !important; }
  /* line 101, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .panel.block .panel-heading {
    border-radius: 5px 5px 0 0; }
  /* line 295, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .panel-heading {
    border-radius: 2px !important;
    padding: 10px 0px 10px 0px; }
    /* line 298, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading span {
      color: #727272;
      margin: 5px 0 0px 50px;
      font-weight: 400 !important;
      font-size: 13px;
      float: left; }
    /* line 307, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .page-title h1 {
      color: #727272 !important;
      margin: 33px 0 0px 50px !important;
      font-weight: 100 !important;
      font-size: 18px; }
  /* line 541, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .panel-heading .nav {
    margin: 21px 0 0px 0;
    background: #90a4ae;
    height: 44px;
    text-transform: uppercase;
    border-radius: 1px; }
    /* line 548, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .nav span {
      width: 0px;
      margin: 10px;
      padding: 0px; }
    /* line 553, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .nav a {
      font-weight: 300;
      color: #212121;
      padding: 15px 32px;
      border-radius: 0px; }
    /* line 559, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .nav :not(.active) a {
      color: #FFFFFF;
      height: 43px;
      padding-top: 14px;
      border: none;
      font-size: 11px;
      opacity: 0.7; }
    /* line 569, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .nav :not(.active) a:hover {
      background: #90a4ae;
      opacity: 0.9; }
    /* line 573, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .panel-heading .nav .active a {
      background: #90a4ae;
      font-size: 11px;
      font-weight: 300;
      color: #FFFFFF;
      border: none;
      border-bottom: 1.5px solid #FF9800 !important;
      height: 43px;
      padding-top: 13.7px;
      transition: .4s; }
  /* line 108, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 2px solid #EDF1F4; }
  /* line 114, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-3 {
    padding-left: 0px;
    padding-right: 0px; }
  /* line 118, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-2 {
    width: 3%; }
  /* line 121, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-5 {
    width: 53%; }
  /* line 124, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-4 {
    width: 40%; }
  /* line 127, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-1 {
    width: 2%; }
  /* line 130, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .wrapper-md {
    border: 1px solid #EDF1F4;
    margin: -25px 10px 0 0px;
    padding-bottom: 7px;
    padding-top: 4px; }
  /* line 137, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .column-title {
    padding: 0px 0 10px 0px;
    width: 80%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 80px;
    color: #212121; }
  /* line 146, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn {
    margin: -77px 10px 0px 0px;
    padding: 7px 9px 7px 9px; }
  /* line 150, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn:hover {
    box-shadow: 1px 1px 5px 0 #4c646f;
    transition: 0.5s ease-in-out; }
  /* line 154, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn i {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }
  /* line 159, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-xs-12 {
    padding-bottom: 0px;
    padding-top: 12px; }
  /* line 163, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-success {
    background: #FF9800 !important;
    border: none;
    margin: 0 5px 0 0;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 13px;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-transform: none;
    border-radius: 3px !important; }
    /* line 154, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .btn-success i,
    .page-products-edit .edit_product .btn-success span {
      font-size: 16px;
      margin: 0 0px 0 0;
      padding: 0 3px 0 3px;
      color: #FFFFFF !important; }
    /* line 160, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .btn-success:hover {
      background: #FF9800 !important;
      cursor: pointer !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: .4s;
      opacity: 0.9;
      color: #FFFFFF !important; }
    /* line 170, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .btn-success:active {
      box-shadow: inset -1px 1px 4px 0px #B6B6B6;
      transition: .4s;
      color: #FFFFFF;
      opacity: 0.8; }
  /* line 166, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-primary {
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400; }
  /* line 173, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-primary:active {
    background: transparent;
    border: none;
    color: #212121; }
  /* line 178, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .boolean {
    font-size: 13px !important;
    padding-top: 5px;
    padding-bottom: 2px; }
  /* line 179, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) {
    padding: 6px 5px 1px 0px;
    margin: 0 0 0 0;
    border: none; }
    /* line 184, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt):hover label {
      font-weight: 420;
      color: #212121; }
    /* line 190, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt):hover input,
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt):active input,
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt):hover select {
      font-weight: 420;
      color: #212121; }
    /* line 195, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-3 {
      width: 20%; }
    /* line 198, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-xs-3 {
      width: 20%; }
    /* line 202, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-4 {
      width: 20%; }
    /* line 205, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-6 {
      width: 43%; }
    /* line 208, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-8 {
      width: 70%; }
    /* line 211, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-9 {
      width: 80%; }
    /* line 214, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-12 {
      width: 90%; }
    /* line 217, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-5 {
      width: 30%; }
    /* line 222, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input,
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) select {
      box-shadow: 0 0 0 0;
      border: none;
      border-bottom: 1px solid #EDF1F4;
      padding: 0px 5px 0px 10px;
      border-radius: 0px; }
    /* line 229, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input::-webkit-input-placeholder {
      color: #B6B6B6;
      font-weight: 400;
      font-size: 13px; }
    /* line 234, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input, .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) select {
      font-size: 13px;
      font-weight: 500;
      color: #727272; }
    /* line 240, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input:hover,
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) select:hover {
      box-shadow: 0px 0px 0 0 #FF9800; }
    /* line 244, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input:focus,
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) select:focus {
      box-shadow: 0px 0px 0 0;
      border-bottom: 1px solid transparent; }
    /* line 248, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) span:after {
      background: #FF9800;
      content: '';
      height: 1px;
      position: absolute;
      -webkit-transition: 0.2s ease all;
      width: 0%; }
    /* line 256, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input:focus ~ span:after {
      background: #FF9800;
      content: '';
      border-bottom: 1px;
      height: 1px;
      position: absolute;
      -webkit-transition: 0.8s ease all;
      width: 90%; }
    /* line 266, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) label {
      font-size: 13px;
      font-weight: 400;
      color: #727272;
      padding: 6px 0px 0px 0px; }
    /* line 272, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) textarea {
      border: 1px solid #EDF1F4; }
    /* line 275, D:/Dropbox/back up/git/style/partials/_mixins.scss */
    .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) textarea:focus {
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  /* line 189, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-3 .readonly {
    opacity: 0.6; }
  /* line 194, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .readonly div,
  .page-products-edit .edit_product .readonly label,
  .page-products-edit .edit_product .readonly input {
    cursor: default; }
  /* line 207, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .product_additional_1 .col-sm-3,
  .page-products-edit .edit_product .product_additional_2 .col-sm-3,
  .page-products-edit .edit_product .product_additional_3 .col-sm-3,
  .page-products-edit .edit_product .product_additional_4 .col-sm-3,
  .page-products-edit .edit_product .product_additional_5 .col-sm-3,
  .page-products-edit .edit_product .product_additional_6 .col-sm-3,
  .page-products-edit .edit_product .product_additional_7 .col-sm-3,
  .page-products-edit .edit_product .product_additional_8 .col-sm-3,
  .page-products-edit .edit_product .product_additional_9 .col-sm-3,
  .page-products-edit .edit_product .product_additional_10 .col-sm-3 {
    width: 25%; }
  /* line 210, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .product_additional_1 .col-sm-9,
  .page-products-edit .edit_product .product_additional_2 .col-sm-9,
  .page-products-edit .edit_product .product_additional_3 .col-sm-9,
  .page-products-edit .edit_product .product_additional_4 .col-sm-9,
  .page-products-edit .edit_product .product_additional_5 .col-sm-9,
  .page-products-edit .edit_product .product_additional_6 .col-sm-9,
  .page-products-edit .edit_product .product_additional_7 .col-sm-9,
  .page-products-edit .edit_product .product_additional_8 .col-sm-9,
  .page-products-edit .edit_product .product_additional_9 .col-sm-9,
  .page-products-edit .edit_product .product_additional_10 .col-sm-9 {
    width: 65%; }
  /* line 2, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .boolean .optional .col-sm-9 {
    position: relative;
    top: 0px;
    margin: 3px 0 0 -14px;
    cursor: pointer; }
  /* line 8, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .boolean .optional .col-sm-9:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 11px;
    height: 11px;
    border: 1px solid #B6B6B6; }
  /* line 22, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .boolean .optional .col-sm-9:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1px;
    height: 7px;
    border: 2px solid #3CBC8D;
    border-top-style: none;
    border-right-style: none; }
  /* line 34, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-products-edit .boolean .optional .col-sm-9::after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 12px;
    height: 14px;
    background: #FFFFFF;
    cursor: pointer;
    border: none; }

/* line 295, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .panel-heading {
  border-radius: 2px !important;
  padding: 10px 0px 10px 0px; }
  /* line 298, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading span {
    color: #727272;
    margin: 5px 0 0px 50px;
    font-weight: 400 !important;
    font-size: 13px;
    float: left; }
  /* line 307, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .page-title h1 {
    color: #727272 !important;
    margin: 33px 0 0px 50px !important;
    font-weight: 100 !important;
    font-size: 18px; }

/* line 541, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .panel-heading .nav {
  margin: 21px 0 0px 0;
  background: #90a4ae;
  height: 44px;
  text-transform: uppercase;
  border-radius: 1px; }
  /* line 548, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .nav span {
    width: 0px;
    margin: 10px;
    padding: 0px; }
  /* line 553, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .nav a {
    font-weight: 300;
    color: #212121;
    padding: 15px 32px;
    border-radius: 0px; }
  /* line 559, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .nav :not(.active) a {
    color: #FFFFFF;
    height: 43px;
    padding-top: 14px;
    border: none;
    font-size: 11px;
    opacity: 0.7; }
  /* line 569, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .nav :not(.active) a:hover {
    background: #90a4ae;
    opacity: 0.9; }
  /* line 573, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .panel-heading .nav .active a {
    background: #90a4ae;
    font-size: 11px;
    font-weight: 300;
    color: #FFFFFF;
    border: none;
    border-bottom: 1.5px solid #FF9800 !important;
    height: 43px;
    padding-top: 13.7px;
    transition: .4s; }

/* line 224, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .panel-body {
  padding-top: 0px; }

/* line 229, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .tab-pane,
.page-panel-suppliers .tab-content,
.page-panel-suppliers form {
  padding: 0px 0 0 0; }

/* line 233, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers form {
  border-bottom: 2px solid #EDF1F4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-bottom: 7px;
  margin-bottom: 0px; }

/* line 2, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .checkbox-nice {
  position: relative;
  top: 0px;
  margin: 8px 0 0 15px !important;
  cursor: pointer; }

/* line 8, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .checkbox-nice:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #B6B6B6; }

/* line 22, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .checkbox-nice:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1px;
  height: 7px;
  border: 2px solid #3CBC8D;
  border-top-style: none;
  border-right-style: none; }

/* line 34, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .checkbox-nice::after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 12px;
  height: 14px;
  background: #FFFFFF;
  cursor: pointer;
  border: none; }

/* line 246, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .checkbox-nice {
  margin: 3px 5px 0 15px !important; }

/* line 2, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .boolean .optional .col-sm-9 {
  position: relative;
  top: 0px;
  margin: 4px 0 0 -25px !important;
  cursor: pointer; }

/* line 8, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .boolean .optional .col-sm-9:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #B6B6B6; }

/* line 22, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .boolean .optional .col-sm-9:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 1px;
  height: 7px;
  border: 2px solid #3CBC8D;
  border-top-style: none;
  border-right-style: none; }

/* line 34, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .boolean .optional .col-sm-9::after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 12px;
  height: 14px;
  background: #FFFFFF;
  cursor: pointer;
  border: none; }

/* line 254, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .boolean .optional .col-sm-9 {
  width: 0px;
  height: 0px; }

/* line 179, D:/Dropbox/back up/git/style/partials/_mixins.scss */
.page-panel-suppliers .form-group {
  padding: 6px 5px 1px 80px;
  margin: 0 0 0 0;
  border: none; }
  /* line 184, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group:hover label {
    font-weight: 420;
    color: #212121; }
  /* line 190, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group:hover input,
  .page-panel-suppliers .form-group:active input,
  .page-panel-suppliers .form-group:hover select {
    font-weight: 420;
    color: #212121; }
  /* line 195, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-3 {
    width: 20%; }
  /* line 198, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-xs-3 {
    width: 20%; }
  /* line 202, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-4 {
    width: 20%; }
  /* line 205, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-6 {
    width: 43%; }
  /* line 208, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-8 {
    width: 70%; }
  /* line 211, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-9 {
    width: 80%; }
  /* line 214, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-12 {
    width: 90%; }
  /* line 217, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group .col-sm-5 {
    width: 30%; }
  /* line 222, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input,
  .page-panel-suppliers .form-group select {
    box-shadow: 0 0 0 0;
    border: none;
    border-bottom: 1px solid #EDF1F4;
    padding: 0px 5px 0px 10px;
    border-radius: 0px; }
  /* line 229, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input::-webkit-input-placeholder {
    color: #B6B6B6;
    font-weight: 400;
    font-size: 13px; }
  /* line 234, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input, .page-panel-suppliers .form-group select {
    font-size: 13px;
    font-weight: 500;
    color: #727272; }
  /* line 240, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input:hover,
  .page-panel-suppliers .form-group select:hover {
    box-shadow: 0px 0px 0 0 #FF9800; }
  /* line 244, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input:focus,
  .page-panel-suppliers .form-group select:focus {
    box-shadow: 0px 0px 0 0;
    border-bottom: 1px solid transparent; }
  /* line 248, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group span:after {
    background: #FF9800;
    content: '';
    height: 1px;
    position: absolute;
    -webkit-transition: 0.2s ease all;
    width: 0%; }
  /* line 256, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group input:focus ~ span:after {
    background: #FF9800;
    content: '';
    border-bottom: 1px;
    height: 1px;
    position: absolute;
    -webkit-transition: 0.8s ease all;
    width: 90%; }
  /* line 266, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group label {
    font-size: 13px;
    font-weight: 400;
    color: #727272;
    padding: 6px 0px 0px 0px; }
  /* line 272, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group textarea {
    border: 1px solid #EDF1F4; }
  /* line 275, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .form-group textarea:focus {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 263, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_mail_content {
  padding: 0px 0 0px 0px; }

/* line 268, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .col-sm-9 {
  width: 60%; }

/* line 271, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .col-xs-4 {
  padding-left: 0px; }

/* line 276, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_currency,
.page-panel-suppliers .form-group .supplier_currency_manual_input,
.page-panel-suppliers .form-group .supplier_currency_rate {
  padding: 0px 0px 0px 0px; }
  /* line 280, D:/Dropbox/back up/git/style/style.scss */
  .page-panel-suppliers .form-group .supplier_currency .checkbox,
  .page-panel-suppliers .form-group .supplier_currency_manual_input .checkbox,
  .page-panel-suppliers .form-group .supplier_currency_rate .checkbox {
    padding: 0px 0px 0px 0px; }

/* line 287, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group label {
  margin-bottom: 8px !important; }

/* line 294, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_by_main_email,
.page-panel-suppliers .form-group .supplier_by_scheduler_email,
.page-panel-suppliers .form-group .supplier_by_main_email .checkbox,
.page-panel-suppliers .form-group .supplier_by_scheduler_email .checkbox {
  padding: 0px 0 5px 20px; }

/* line 297, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_currency_rate {
  width: 300px;
  padding: 20px 10px 10px 10px; }

/* line 301, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_currency_manual_input {
  padding: 20px 0px 10px 60px; }

/* line 305, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .form-group .supplier_currency {
  width: 300px;
  padding: 20px 60px 10px 0px; }

/* line 310, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .btn {
  background: transparent;
  border: none;
  font-size: 11px;
  font-weight: 400;
  padding: 6px 13px;
  margin: 0 5px 0 0;
  color: #212121;
  text-transform: uppercase;
  margin-left: 5px;
  border-radius: 3px; }
  /* line 74, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .btn:hover {
    cursor: pointer !important;
    transition: .4s;
    background: #e7e7e7; }
  /* line 80, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .btn:active {
    box-shadow: inset -1px 1px 4px 0px #B6B6B6;
    transition: .4s;
    background: #e7e7e7;
    color: #212121; }

/* line 313, D:/Dropbox/back up/git/style/style.scss */
.page-panel-suppliers .btn-primary {
  background: #FF9800 !important;
  border: none;
  margin: 0 5px 0 0;
  font-size: 13px;
  font-weight: 500;
  padding: 6px 13px;
  color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-transform: none;
  border-radius: 3px !important; }
  /* line 154, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .btn-primary i,
  .page-panel-suppliers .btn-primary span {
    font-size: 16px;
    margin: 0 0px 0 0;
    padding: 0 3px 0 3px;
    color: #FFFFFF !important; }
  /* line 160, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .btn-primary:hover {
    background: #FF9800 !important;
    cursor: pointer !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .4s;
    opacity: 0.9;
    color: #FFFFFF !important; }
  /* line 170, D:/Dropbox/back up/git/style/partials/_mixins.scss */
  .page-panel-suppliers .btn-primary:active {
    box-shadow: inset -1px 1px 4px 0px #B6B6B6;
    transition: .4s;
    color: #FFFFFF;
    opacity: 0.8; }

@media (min-width: 1200px) {
  /* line 320, D:/Dropbox/back up/git/style/style.scss */
  .col-lg-offset-3 {
    margin-left: 5%; }
  /* line 323, D:/Dropbox/back up/git/style/style.scss */
  .col-sm-offset-3 {
    margin-left: 5%; } }

@media (min-width: 1600px) {
  /* line 328, D:/Dropbox/back up/git/style/style.scss */
  .col-lg-offset-3 {
    margin-left: 5%; }
  /* line 333, D:/Dropbox/back up/git/style/style.scss */
  body .item-log-panel {
    font-size: 14px; }
  /* line 336, D:/Dropbox/back up/git/style/style.scss */
  body .item-log-panel i {
    font-size: 20px !important; }
  /* line 340, D:/Dropbox/back up/git/style/style.scss */
  body .left-panel a {
    font-size: 17px; }
  /* line 347, D:/Dropbox/back up/git/style/style.scss */
  body .left-panel .menu li ul,
  body .left-panel .menu li ul li,
  body .left-panel .menu li ul li a {
    font-size: 14px; }
  /* line 351, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .panel-heading {
    padding-bottom: 20px; }
    /* line 353, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .panel-heading span {
      margin: 20px 0 0px 60px;
      font-size: 18px; }
    /* line 357, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .panel-heading .page-title h1 {
      margin: 49px 0 0px 60px !important;
      font-size: 23px; }
  /* line 363, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .panel-heading .nav {
    margin: 30px 0 0px 0;
    height: 42px; }
    /* line 367, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .panel-heading .nav :not(.active) a {
      height: 41px;
      padding-top: 12px;
      font-size: 15px; }
    /* line 372, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .panel-heading .nav .active a {
      font-size: 15px;
      height: 41px;
      padding-top: 12px; }
  /* line 379, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) {
    padding: 16px 5px 1px 0px; }
    /* line 381, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) .col-sm-8 {
      width: 60%; }
    /* line 385, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) input, .page-products-edit .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) select {
      font-size: 18px; }
    /* line 388, D:/Dropbox/back up/git/style/style.scss */
    .page-products-edit .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) label {
      font-size: 18px;
      padding: 4px 0px 0px 0px; }
  /* line 397, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .btn-success {
    font-size: 15px;
    margin: 10px 10px 0px 0px; }
  /* line 401, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .btn-primary {
    font-size: 17px;
    margin: -85px 10px 0px 0px !important; }
  /* line 405, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .boolean {
    font-size: 18px !important; }
  /* line 410, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .boolean .optional .col-sm-9 {
    margin-right: 0px;
    margin-left: -19px; }
  /* line 417, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .boolean .optional .col-sm-9:before {
    width: 15px;
    height: 15px; }
  /* line 423, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .boolean .optional .col-sm-9:after {
    width: 15px;
    height: 15px; }
  /* line 429, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .boolean .optional .col-sm-9:checked:before {
    top: 1px;
    height: 9px;
    border: 2px solid #3CBC8D;
    border-top-style: none;
    border-right-style: none; } }

@media (max-width: 968px) {
  /* line 439, D:/Dropbox/back up/git/style/style.scss */
  .user-info {
    margin: 0 0 0 50px; }
  /* line 443, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-1 {
    width: 0%; }
  /* line 446, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-4 {
    width: 100%; }
  /* line 450, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .col-md-5 {
    width: 100%; }
  /* line 454, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .wrapper-md {
    margin: 20px 0 0 20px;
    max-width: calc(100% - 40px); } }

@media (max-width: 768px) {
  /* line 464, D:/Dropbox/back up/git/style/style.scss */
  .work-area .page-title .btn-left-menu {
    margin-top: 0px; }
  /* line 467, D:/Dropbox/back up/git/style/style.scss */
  .work-area .page-title .btn-left-menu i {
    color: #90a4ae; }
  /* line 470, D:/Dropbox/back up/git/style/style.scss */
  .work-area .page-title .btn-left-menu i:hover {
    color: #78909c; }
  /* line 473, D:/Dropbox/back up/git/style/style.scss */
  .closed-panel .work-area {
    margin-left: -80px;
    max-width: calc(100% - 10px);
    left: 0;
    padding-bottom: 92px;
    transition: left 0.5s linear;
    margin-right: 0;
    transition: all 0.4s; }
  /* line 482, D:/Dropbox/back up/git/style/style.scss */
  .open-left-menu-mob .work-area {
    margin-left: 20px;
    transition: all 0.4s;
    left: 0px !important;
    transition: all 0.4s; }
  /* line 488, D:/Dropbox/back up/git/style/style.scss */
  .form-group {
    padding: 15px 10px 0px 10px; }
  /* line 493, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .wrapper-md {
    margin: 20px 0 0 20px;
    max-width: calc(100% - 40px); }
  /* line 497, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn {
    margin: -30px 10px 0px 0px;
    padding: 7px 9px 7px 9px; }
  /* line 501, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-primary {
    color: #212121; }
  /* line 506, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .form-group:not(.product_top):not(.product_non):not(.product_out):not(.product_alt) label {
    font-size: 11px;
    font-weight: 400;
    color: #727272;
    padding: 3px 0px 0px 0px; }
  /* line 512, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-success {
    margin: 0px 0px 0px 0px; }
  /* line 519, D:/Dropbox/back up/git/style/style.scss */
  .menu::-webkit-scrollbar {
    width: 5px !important;
    border-bottom: 2px solid #607D8B; } }

@media (max-width: 375px) {
  /* line 525, D:/Dropbox/back up/git/style/style.scss */
  .work-area {
    margin-left: -240px;
    max-width: calc(100% - 20px);
    left: 0;
    padding-bottom: 92px;
    transition: left 0.5s linear;
    margin-right: 0;
    transition: all 0.9s; }
  /* line 534, D:/Dropbox/back up/git/style/style.scss */
  .open-left-menu-mob .work-area {
    left: 0px !important;
    transition: all 0.4s; }
  /* line 538, D:/Dropbox/back up/git/style/style.scss */
  .form-group {
    padding: 15px 10px 0px 10px; }
  /* line 542, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .wrapper-md {
    margin: 20px 0 0 20px;
    max-width: calc(100% - 40px); }
  /* line 546, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn {
    margin: -30px 10px 0px 0px;
    padding: 7px 9px 7px 9px; }
  /* line 550, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-success {
    margin: 0px 0px 0px 0px; } }

@media (max-width: 320px) {
  /* line 558, D:/Dropbox/back up/git/style/style.scss */
  .work-area {
    margin-left: -240px;
    max-width: calc(100% - 80px);
    left: 0;
    padding-bottom: 92px;
    transition: left 0.5s linear;
    margin-right: 0;
    transition: all 0.4s; }
  /* line 567, D:/Dropbox/back up/git/style/style.scss */
  .open-left-menu-mob .work-area {
    left: 0px !important;
    transition: all 0.4s; }
  /* line 571, D:/Dropbox/back up/git/style/style.scss */
  .form-group {
    padding: 15px 10px 0px 10px; }
  /* line 575, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .wrapper-md {
    margin: 20px 0 0 20px;
    max-width: calc(100% - 40px);
    transition: all 0.4s; }
  /* line 580, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn {
    margin: -30px 10px 0px 0px;
    padding: 7px 9px 7px 9px; }
  /* line 584, D:/Dropbox/back up/git/style/style.scss */
  .page-products-edit .edit_product .btn-success {
    margin: 10px 0px 0px 0px; } }

/*# sourceMappingURL=style.css.map */
